*             text=auto

*.java        text
*.jsp         text
*.ftl         text
*.css         text
*.js          text
*.html        text
*.xml         text
*.properties  text
*.md          text
*.jrxml       text


*.class       binary
*.jar         binary
*.png         binary
*.jpg         binary
*.gif         binary
*.ico         binary
*.pdf         binary
*.jasper      binary
